.gradle/
build/
run/
.idea/
*.iml
.vscode/
*.log
*.log.gz
crash-reports/
.env
.env.*
!.env.example
.dev.vars
.wrangler/
node_modules/
private/
*Codes.txt
*codes.txt
*.nbt
*.jar
!gradle/wrapper/gradle-wrapper.jar
